<div class="form peas-form">
  {{#error-message message=errorMessage}}{{/error-message}}
  {{mdl-textfield type="text" value=level.name label="Name" required="required"}}
  {{mdl-textfield type="number" value=level.minScore label="Minimum Score"}}
  {{mdl-textfield type="text" value=level.logo label="Logo"}}

  <div class="button-container">
    {{#link-to 'app.settings.level-management.list' tagName="button" class="mdl-button mdl-js-button mdl-button--raised"}}
      <i class="material-icons">keyboard_arrow_left</i> Back
    {{/link-to}}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored right" {{action 'save'}}>
      Save <i class="material-icons">check</i>
    </button>
  </div>
</div>
