.mdl-layout__drawer.right {
  left: initial;
  right: 0; }

.mdl-layout__drawer.left {
  width: 175px; }
  .mdl-layout__drawer.left .mdl-layout-title {
    margin-top: 15px;
    padding-left: 0;
    text-align: center; }
    .mdl-layout__drawer.left .mdl-layout-title img.logo {
      max-width: 120px; }
  .mdl-layout__drawer.left a.mdl-navigation__link {
    padding: 15px;
    text-align: right; }

.material-icons {
  width: 24px; }