.mdl-layout__drawer.right {
  left: initial;
  right: 0; }

.mdl-layout__drawer.left {
  width: 175px; }
  .mdl-layout__drawer.left .mdl-layout-title {
    margin-top: 15px;
    padding-left: 0;
    text-align: center; }
    .mdl-layout__drawer.left .mdl-layout-title img.logo {
      max-width: 120px; }
  .mdl-layout__drawer.left a.mdl-navigation__link {
    padding: 15px;
    text-align: right; }

.activity-list-container h6.title {
  text-align: center;
  margin-top: 8px; }

.activity-list-container .activity-list {
  padding-left: 15px; }
  .activity-list-container .activity-list .activity-info:not(:last-of-type) {
    margin-bottom: 10px; }
  .activity-list-container .activity-list .activity-info .image {
    display: table-cell;
    height: 36px;
    width: 36px; }
    .activity-list-container .activity-list .activity-info .image img {
      height: inherit;
      width: inherit; }
  .activity-list-container .activity-list .activity-info .activity-content {
    vertical-align: top;
    display: table-cell;
    font-size: 12px;
    line-height: 13px;
    padding-left: 10px; }

.user-info-container {
  padding: 10px;
  overflow: auto;
  width: 100%; }
  .user-info-container .left {
    margin-top: 5px;
    float: left; }
    .user-info-container .left .name {
      text-align: right; }
    .user-info-container .left .details div {
      font-size: 12px;
      display: inline-block; }
  .user-info-container .right {
    width: 75px;
    float: right;
    margin-right: 15px; }
    .user-info-container .right .avatar img {
      max-width: 50px; }
    .user-info-container .right .signout .material-icons {
      width: 20px;
      font-size: 20px; }
    .user-info-container .right div {
      display: inline-block; }

.material-icons {
  width: 24px; }

.score-icon::after {
  content: " ";
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/pea.png"); }

.score-icon.small::after {
  width: 20px;
  height: 25px;
  background-size: 20px; }