<div class="activity-item">
  <div class="activity-item-left">
    <div class="activity-item-image">
      {{#hosted-image src=activity.badge}}{{/hosted-image}}
    </div>
    <div class="score">
      {{activity.score}} <span class="score-icon small"></span>
    </div>
  </div>
  <div class="activity-item-content">
    <h6>{{activity.name}}</h6>
    <div class="description">
      {{activity.description}}
    </div>
  </div>
</div>
