<div class="activity-item">
  {{#link-to 'app.activities.view' badge.activity.groupID tagName="div" class="activity-image"}}
      <h6>
          <strong>{{badge.activity.name}}</strong>
          ({{badge.activity.score}} <span class="score-icon small"></span>)
          <br/>
          <em>Earned on: {{badge.earned}}</em>
      </h6>
      <div class="activity-item-image">
        {{#hosted-image src=badge.activity.badge}}{{/hosted-image}}
      </div>
  {{/link-to}}
</div>
