<div id="p1" class="mdl-progress mdl-js-progress is-upgraded" data-upgraded=",MaterialProgress">
  <div class="progressbar bar bar1" style="width: {{progress}}%;"></div>
  <div class="bufferbar bar bar2" style="width: 100%;"></div>
  <div class="auxbar bar bar3" style="width:0%;"></div>
</div>
