<div class="recent-list-container">
  <h6 class="title">Activity list</h6>
  <ul class="recent-list">
    {{#each badges as |badge|}}
      <div class="activity-info">
        {{#link-to 'app.settings.user-management.view' badge.user tagName="div" class="image"}}
          {{#gravatar-image email=badge.user.email}}{{/gravatar-image}}
        {{/link-to}}
        <div class="activity-content">
          <div class="user-info">
            {{badge.user.firstName}} {{badge.user.lastName}} has earned {{badge.activity.name}}
          </div>
          <div class="score">
            {{badge.activity.score}}<span class="score-icon xsmall"></span>
          </div>
        </div>
      </div>
    {{/each}}
  </ul>
</div>
