<nav class="mdl-navigation">
  {{#link-to 'app.dashboard' class="mdl-navigation__link"}}
    Dashboard <i class="material-icons">dashboard</i>
  {{/link-to}}
  {{#link-to 'app.activities' class="mdl-navigation__link"}}
    Activities <i class="material-icons">star rate</i>
  {{/link-to}}
  {{#link-to 'app.badges' class="mdl-navigation__link"}}
    My Badges
    <i class="material-icons">star rate</i>
  {{/link-to}}
  {{#link-to 'app.profile' class="mdl-navigation__link"}}
    Profile
    <i class="material-icons">account_circle</i>
  {{/link-to}}
  {{#link-to 'app.signout' class="mdl-navigation__link"}}
    Sign Out
    <i class="material-icons">exit_to_app</i>
  {{/link-to}}
</nav>
