<div class="mdl-grid login-page">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="logo">
        <img src="/images/logoLarge.png" />
    </div>
    <div class="form">
      {{#error-message message=errorMessage}}{{/error-message}}
      {{mdl-textfield type="text" value=user.username label="Username"}}
      {{mdl-textfield type="password" value=user.password label="Password"}}
    </div>
    <div class="actions">
      <div class="helpers">
          <div class="register">
            <div>
                {{#link-to 'register'}}Register{{/link-to}}
            </div>
            <div>
                {{#link-to 'forgot-password'}}Forgot user or password?{{/link-to}}
            </div>
          </div>
      </div>
      <div class="button">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" {{action 'login'}}>
          Login <i class="material-icons">exit_to_app</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
