.recent-list-container {
  h6.title {
    text-align: center;
    margin-top: 8px;
    color: $darkGreen;
    font-weight: 600;
  }
  .recent-list {
    padding-left: 15px;
    .activity-info {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      .image {
        display: table-cell;
        height: 36px;
        width: 36px;
        img {
          height: inherit;
          width: inherit;
        }
      }
      .activity-content {
        vertical-align: top;
        display: table-cell;
        font-size: 12px;
        line-height: 13px;
        padding-left: 10px;
      }
    }
  }
}
