.app-container .mdl-layout__drawer {
  overflow-x: hidden;
  &.right {
    left: initial;
    right: 0;
  }

  &.left {
    width: 175px;

    .mdl-layout-title {
      margin-top: 15px;
      padding-left: 0;
      text-align: center;
      img.logo {
        max-width: 120px;
      }
    }

    .management .title {
      display: block;
      font-size: 16px;
      text-align: center;
      color: $gray;
      margin-top: 10px;
    }

    a.mdl-navigation__link {
      padding: 15px;
      text-align: right;

      .material-icons.active {
        display: none;
      }

      &.active {
        color: $darkGreen;
        position: relative;

        .material-icons.active {
          display: inline-block;
          position: absolute;
          right: -3px;
        }
      }
    }
  }
}
