.user-info-container {
  padding: 10px;
  overflow: auto;
  width: 100%;

  .left {
    margin-top: 5px;
    float: left;
    .name {
      text-align: right;
    }
    .details div {
      font-size: 12px;
      display: inline-block;
    }
  }

  .right {
    width: 75px;
    float: right;
    margin-right: 15px;
    .avatar img {
      max-width: 50px;
    }
    .signout .material-icons {
      width: 20px;
      font-size: 20px;
    }
    div {
      display: inline-block;
    }
  }
}
