<div class="activity-page">
  <h3>Activities</h3>

  <div class="activity-list-container">
    {{#each activities.groups as |activity|}}
      {{#activity-info activity=activity badges=activities.badges}}{{/activity-info}}
    {{/each}}
  </div>
</div>
