<div class="activity-page activity-detail">
  <h3>{{ activity.name }}</h3>
  {{#activity-info activity=activity}}{{/activity-info}}

  <div class="activity-badges">
    {{#each activity.activities as |badge|}}
      {{#activity-item activity=badge}}{{/activity-item}}
    {{/each}}
  </div>
</div>
