<div class="activity-page activity-detail">
  <h3>{{ activity.group.name }}</h3>
  {{#activity-info activity=activity.group badges=activity.badges}}{{/activity-info}}

  <div class="activity-badges">
    {{#each activity.group.activities as |badge|}}
      {{#activity-item activity=badge}}{{/activity-item}}
    {{/each}}
  </div>
</div>
