$darkGreen: #557b2f;
$lightGreen: #8bc34a;
$gray: #707070;
$lightGray: #fafafa;
$darkBlue: #24517f;
$black: #282828;

@import "_color-definitions";

$color-primary: $palette-green-500;
$color-accent: $palette-light-blue-A200;

@import "material-design-lite";

@import "./components/sidebar-navigation";
@import "./components/recent-list";
@import "./components/user-info";
@import "./components/activity-info";

@import "./components/table";
@import "./components/button";
@import "./components/form";

@import "./pages/login";
@import "./pages/user-management";
@import "./pages/activities";

.material-icons {
  width: 24px;
}

.app-container {
  .mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 175px;

    .page-content {
      margin-right: 240px;
      padding: 15px;
    }
  }
}

.score-icon {
  &::after {
    content: " ";
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/pea.png");
  }

  &.small::after {
    width: 20px;
    height: 25px;
    background-size: 20px;
  }

  &.xsmall::after {
    width: 15px;
    height: 16px;
    background-size: 15px;
  }
}

.badge-earn-container {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 120px;
  width: 390px;
  z-index: 10;

  &.ember-view {
    top: -500px;
    transition: 1s all linear;
    position: absolute;

    &.display {
    }
  }
}

.badge-popup {
  width: 320px;
  height: 70px;
  z-index: 10;
  background-color: $lightGray;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

  .badge-popup-image {
    height: 70px;
    width: 45px;
    float: left;
  }

  .badge-dismiss-popup {
    float: right;
    cursor: pointer;

    .material-icons {
      font-size: 20px;
    }
  }
}
