$darkGreen: #557b2f;
$lightGreen: #8bc34a;
$gray: #707070;
$headingGreen: #24517f;
$black: #282828;

@import "./components/sidebar-navigation";
@import "./components/activity-list";
@import "./components/user-info";

@import "./pages/login";

.material-icons {
  width: 24px;
}

.score-icon {
  &::after {
    content: " ";
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/pea.png");
  }

  &.small::after {
    width: 20px;
    height: 25px;
    background-size: 20px;
  }
}
